{{!--
This navigation template is shared across all the pages.
Also it includes the big submenu.
--}}

{{#if isSecondary}}
  <ul class="m-secondary-menu">
    {{#foreach navigation}}
      <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
        <a href="{{url absolute="true"}}">{{label}}</a>
      </li>
    {{/foreach}}
  </ul>
{{else}}
  {{!-- {{#foreach navigation}}
    <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
      <a href="{{url absolute="true"}}">{{label}}</a>
      
    </li>
  {{/foreach}} --}}
  {{log navigation}}
  <li class="nav-mundo-henry {{#if navigation.0.current}} nav-current{{/if}}">
    <a href="/tag/mundo-henry">Mundo Henry</a>
    <ul class="dropdown-content">
      <li class="sub-list"><a>Descubre Henry</a></li>
      <li class="sub-list"><a>Trabajar en Henry</a></li>
      <li class="sub-list"><a>Beneficios</a></li>
      <li class="sub-list"><a>Opiniones</a></li>
      <li class="sub-list"><a>Admisiones</a></li>
    </ul>
  </li>
  <li class="nav-mundo-henry {{#if navigation.1.current}} nav-current{{/if}}">
    <a href="/tag/desarrollo-web">Desarrollo Web</a>
    <ul class="dropdown-content">
      <li class="sub-list"><a>Desarrollo Web Full Stack</a></li>
      <li class="sub-list"><a>Diccionario Dev</a></li>
      <li class="sub-list"><a>Cómo hacer</a></li>
      <li class="sub-list"><a>Vida de Dev</a></li>
    </ul>
  </li>
  <li class="nav-mundo-henry {{#if navigation.2.current}} nav-current{{/if}}">
    <a href="/tag/novedades">Novedades</a> 
  </li>
  <li class="nav-mundo-henry {{#if navigation.3.current}} nav-current{{/if}}">
    <a href="/tag/mujeres-en-tecnologia">Mujeres en Tecnología</a> 
  </li>
  <li class="nav-mundo-henry {{#if navigation.4.current}} nav-current{{/if}}">
    <a href="/tag/trabajar-en-tecnologia/">Trabajar en Tecnología</a> 
  </li>
{{/if}}
